<div class="task-container">
  <div class="task-header">
    <h2>{{ userName() }}'s Tasks</h2>
    <button class="add-task-btn" (click)="onClickAddTask()">Add Tasks</button>
  </div>

  <div class="task-list">
    <ul>
      @for (t of usertasks(); track t.id) {
        <li>
          <app-task [task]="t" (taskCompleted)="onTaskCompleted($event)"></app-task>
        </li>
      }
    </ul>
  </div>
</div>

@if (shoulsShowAddTaskForm()) {
  <app-add-new-task (closeDialog)="onClickCancel()" (addNewTask)="onAddNewTask($event)"></app-add-new-task>
}
