<app-header></app-header>

<main class="main">
  <div class="content">
    <div class="left-side">
      <ul class="user-list">
        @for (user of users; track user.id) {
          <li>
            <app-user
              [name]="user.name"
              [avatar]="user.avatar"
              [id]="user.id"
              [isSelected]="selectedUser()?.id === user.id"
              (userClicked)="onUserSelected($event)"
            ></app-user>
          </li>
        }
        <!-- <li>
          <app-user
            [name]="users[1].name"
            [avatar]="users[1].avatar"
            [id]="users[1].id"
            (userClicked)="onUserSelected($event)"
          ></app-user>
        </li>
        <li>
          <app-user
            [name]="users[2].name"
            [avatar]="users[2].avatar"
            [id]="users[2].id"
            (userClicked)="onUserSelected($event)"
          ></app-user>
        </li>
        <li>
          <app-user
            [name]="users[3].name"
            [avatar]="users[3].avatar"
            [id]="users[3].id"
            (userClicked)="onUserSelected($event)"
          ></app-user>
        </li>
        <li>
          <app-user
            [name]="users[4].name"
            [avatar]="users[4].avatar"
            [id]="users[4].id"
            (userClicked)="onUserSelected($event)"
          ></app-user>
        </li>
        <li>
          <app-user
            [name]="users[5].name"
            [avatar]="users[5].avatar"
            [id]="users[5].id"
            (userClicked)="onUserSelected($event)"
          ></app-user>
        </li> -->
      </ul>
    </div>
    <div class="right-side">
      @if (selectedUser() !== null) {
        <app-tasks [userName]="selectedUser()!.name" [userId]="selectedUser()!.id"></app-tasks>
      } @else {
        <p class="select-user-message">Select a user to view their tasks</p>
      }
    </div>
  </div>
</main>
