<app-header></app-header>

<main class="main">
  <div class="content">
    <div class="left-side">
      <ul class="user-list">
        @for (user of users; track user.id) {
          <li>
            <app-user [user]="user" [isSelected]="user.id === selectedUser()?.id" (userClicked)="onUserSelected($event)"></app-user>
          </li>
        }
      </ul>
    </div>
    <div class="right-side">
      @if (selectedUser() !== null) {
        <app-tasks [userName]="selectedUser()!.name" [userId]="selectedUser()!.id"></app-tasks>
      } @else {
        <p class="select-user-message">Please select a user to view their tasks.</p>
      }
    </div>
  </div>
</main>

<!-- <app-add-new-task></app-add-new-task> -->

<!-- <app-signals-demo></app-signals-demo> -->
<!-- <app-game-container></app-game-container> -->

<!-- <router-outlet></router-outlet> -->
