<!-- <app-header></app-header>

<main class="main">
  <div class="content">
    <div class="left-side">
      <ul class="user-list">
        @for (user of users; track user.id) {
          <li>
            <app-user
              [name]="user.name"
              [avatar]="user.avatar"
              [id]="user.id"
              [isSelected]="selectedUser()?.id === user.id"
              (userClicked)="onUserSelected($event)"
            ></app-user>
          </li>
        }
      </ul>
    </div>
    <div class="right-side">
      @if (selectedUser() !== null) {
        <app-tasks [userName]="selectedUser()!.name" [userId]="selectedUser()!.id"></app-tasks>
      } @else {
        <p class="select-user-message">Select a user to view their tasks</p>
      }
    </div>
  </div>
</main> -->

<app-signals-demo></app-signals-demo>
